@using MongoDB.Driver
@using MongoDB.Bson
@model  List<BsonDocument>
@{Layout = null;}

@if (ViewBag.canDelete)
{

    if (Model.Count > 0)
    {
        <h5 style="color: red">Las siguientes ubicaciones dependen de este perfil, cambialos de perfil antes de borrarlo.</h5>
        <div style="padding: 0 0 12px">
            <span>Mover todos a </span>
            <select onchange="changeProfiles(this.value)">
                @{List<BsonDocument> profileMainList = ViewBag.profiles; }
                @foreach (BsonDocument profile in profileMainList)
                {
                    if (ViewBag.idProfile != profile.GetElement("_id").Value.ToString())
                    {
                        <option value='@profile.GetElement("_id").Value'>@profile.GetElement("name").Value</option>
                    }
                }
            </select>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ubicaciones</th>
                    <th>Mover a</th>
                </tr>
            </thead>
            <tbody id="locationsToChange">
                @foreach (BsonDocument location in Model)
                {
                    <tr data-userid="@location.GetElement("_id").Value">
                        <td>@location.GetElement("name").Value</td>
                        <td>
                            <select class="moveTo">
                                @{List<BsonDocument> profileList = ViewBag.profiles; }
                                @foreach (BsonDocument profile in profileList)
                                {
                                    if (ViewBag.idProfile != profile.GetElement("_id").Value.ToString())
                                    {
                                        <option value='@profile.GetElement("_id").Value'>@profile.GetElement("name").Value</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <h5 style="text-align: center; color: red">¿Seguro que desea borrar este perfil?</h5>
    }
}
else
{
    <h5 style="text-align: center; color: red">El perfil Básico no puede ser eliminado</h5>
}
<script>
    function changeProfiles(idProfile) {
        jQuery("select.moveTo").val(idProfile);
    }

    function deleteProfile() {
        var _idProfile = null;
        var _locationsToChange = {};
        _locationsToChange.locations = [];

        @if(ViewBag.canDelete)
        {
            <text>_idProfile = "</text>@ViewBag.idProfile<text>";</text>
        }

        if (_idProfile != null) {
            locations = jQuery("#locationsToChange");
            if (locations.length) {
                locations.find("tr").each(function () {
                    locationObj = {};
                    locationObj.userId = jQuery(this).data("locationid");
                    locationObj.profileId = jQuery(this).find("select").val();
                    _locationsToChange.locations.push(locationObj);
                });
            }

            _locationsToChange = JSON.stringify(_locationsToChange);

            jQuery.ajax({
                url: "/Locations/LocationProfile/deleteProfile",
                type: "POST",
                data: { idProfile: _idProfile, locations: _locationsToChange },
                beforeSend: _loading(),
                complete: _loading(),
                success: function (data) {
                    _alert("success","Eliminado Correctamente");
                    window.location = "/Locations/LocationProfile";
                },
                error: function (errorThrown) {
                    _alert("error","Ha ocurrido un error");
                }
            });
        }
        return false;
    }
</script>
