@{Layout = null;}


@model List<List<string>>
@{
    ViewBag.Title = "Table Excel";
    int count = 0;
    int index = 0;
    List<string> listheads = new List<string>();
    int idselect = 0;
   string cad="";
   int selectvalue = 0;
   var file = ViewData["Filerequest"];
   string filename= Request.Files["file"].FileName;
   filename = filename.Split('.')[0];
   int nameheadx = 0;
  
   
   
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" style="margin-top: 10px; margin-right: 10px"></i></button>

    <h3 class="modal-header-text">@filename</h3>
</div>
<div class="modal-body" id="ExcelContent" style="padding-top: 0px;">
    <div class="row-fluid">
        <div class="span5">

            @foreach (var item in Model)
            {

                foreach (var td in item)
                {
                    if (td == "")
                    {
                        listheads.Add("Undefined"+nameheadx);
                        nameheadx++;
                    }
                    else
                    {
                        listheads.Add(td);
                    }

                }
              


                break;
               
            }
            <h2>  Campos del Usuario :</h2>
            <br />
            <div style="overflow:auto;max-height:540px; margin-top: -30px;">
                <!-- Campo del Usuario -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">ID Usuario :</label></div>
                    <div class="span7">
                        <select id="user1" class="chosen" data-required="1" data-name="user">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo del Nombre -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Nombre :</label></div>
                    <div class="span7">
                        <select id="name1" class="chosen" data-required="1" data-name="name">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo de firma -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Firma de Usuario :</label></div>
                    <div class="span7">
                        <select id="userKey1" class="chosen" data-required="1" data-name="userKey">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            }
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
                </div>
                 <!-- Campo del Apellido -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Apellido :</label></div>
                    <div class="span7">
                        <select id="lastname1" class="chosen" data-required="1" data-name="lastname">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo del email -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">E-mail :</label></div>
                    <div class="span7">
                        <select id="email1" class="chosen" data-required="0" data-name="email">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo del Password -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Contraseña :</label></div>
                    <div class="span7">
                        <select id="password1" class="chosen" data-required="1" data-name="pwd">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                 <!-- Campo del Perfil -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Puesto :</label></div>
                    <div class="span7">
                        <select id="perfil1" class="chosen" data-required="0" data-name="perfilId">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo de permisos -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Permisos :</label></div>
                    <div class="span7">
                        <select id="permissionsHTK1" class="chosen" data-required="0" data-name="permissionsHTK">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            }
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
                </div>
                <!-- Campo del Jefe inmediato -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Jefe Inmediato :</label></div>
                    <div class="span7">
                        <select id="boss1" class="chosen" data-required="0" data-name="boss">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo de emails adicionales -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Correos adicionales :</label></div>
                    <div class="span7">
                        <select id="extra_emails1" class="chosen" data-required="0" data-name="extra_emails">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            }
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
                </div>
                 <!-- Campo del Area -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Área :</label></div>
                    <div class="span7">
                        <select id="area1" class="chosen" data-required="0" data-name="areaSelect">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                 <!-- Campo del Departamento -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Departamento :</label></div>
                    <div class="span7">
                        <select id="departamento1" class="chosen" data-required="0" data-name="departmentSelect">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                 <!-- Campo del Alias -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Alias :</label></div>
                    <div class="span7">
                        <select id="alias1" class="chosen" data-required="0" data-name="alias">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo del descripcion -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Descrip. puesto :</label></div>
                    <div class="span7">
                        <select id="description1" class="chosen" data-required="0" data-name="descripcionpuesto">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>
                <!-- Campo de Ubicación -->
                <div class="row-fluid">
                    <div class="span5"> <label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">Ubicación :</label></div>
                    <div class="span7">
                        <select id="location1" class="chosen" data-required="0" data-name="location">
                            @foreach (string opt in listheads)
                            {
                                if (index == 0)
                                {
                                    <option value="no">Elige una opcion</option>
                                    index++;
                                }
                                <option value="@selectvalue">@opt</option>
                                selectvalue++;
                            } 
                            @{index = 0; selectvalue = 0;}
                        </select>
                    </div>
               </div>

                <div class="row-fluid">
                    <!--<span class=" btn btn-file" data-original-title="Subir inventario" rel="tooltip" data-placement="top">
                        <span class="icon-folder-open"></span>-->
                        <input name='uploads[]' class="uploadFile" id="uploadFiles" type="file"/>
                    <!--</span>-->
                </div>
                
                <br />
                @foreach (var datacateg in (List<List<string>>)ViewData["categoriedata"])
                {

                    index = 0;
                    selectvalue = 0;
                    List<string> listrowscat = new List<string>();
                    foreach (string x in datacateg)
                    {
                        listrowscat.Add(x.ToString());

                    }
                    string[] arrayf = listrowscat.ToArray();

                    <div class="row-fluid">

                        <div class="span5"><label style="font-size:16px;padding:5% 0% 0% 0%;float:right;">@arrayf[1] :</label></div>
                        <div class="span7 no-search">
                            <select id="@idselect" data-required="@arrayf[2]" data-name="@arrayf[1]" class="chosen">
                                @foreach (string opt in listheads)
                                {
                                    if (index == 0)
                                    {
                                        <option value="no">Elige una opcion</option>
                                        index++;
                                    }
                                    <option value="@selectvalue">@opt</option>
                                    selectvalue++;
                                }
                            </select>

                        </div>
                    </div>
                    <br />
                                idselect++;
                }
            </div>
        </div>

        <div class="span7 ">
            <h2>  Datos A Importar :</h2>
            <div style="overflow:auto;max-height:480px;">
                <table id="exceldatatable" class="table table-striped table-hover ">


                    @foreach (var item in Model)
                    {
                        nameheadx = 0;
                        <thead>
                            <tr>
                                <th class="table-icon hidden-480 gray" data-head="checkall"><input type="checkbox" name="selectall" class="uniform" checked></th>
                                @foreach (var td in item)
                                {
                                    string value = td;
                                    if (td == "")
                                    {
                                        value = "Undefined"+nameheadx;
                                        nameheadx++;
                                    }
                                    <th class="hidden-480 gray" style="color:white;" data-head="@value">@value</th>
                                }
                               
                            </tr>
                        </thead>
                                count++;
                                break;

                    }

                    <tbody>
                      

                        @foreach (var item in Model)
                        {

                           
                            if (count > 1)
                            {
                                <tr>
                                    <td class="table-icon hidden-480">
                                        <input type="checkbox" name="selectdate" class="uniform" checked>
                                    </td>
                                    @foreach (var td in item)
                                    {
                                        
                                        <td class="hidden-480" data-td="@td">@td</td>

                                    }
                                </tr>

                            }
                            count++;

                        }
                    </tbody>



                </table>
            </div>
        </div>
        
    </div>
</div>
@{
    
    string fileLocation2 = ViewData["Filelocation"].ToString();
   
    if (System.IO.File.Exists(fileLocation2))
    {

        System.IO.File.Delete(fileLocation2);
    }
   
}
<div class="modal-footer">
    <input value="Guardar" class="btn blue" type="submit" id="saveImport">
    <input value="Cancelar" class="btn grey" type="button" id="delete_cancel_buttonx">
</div>


<script src="~/Content/Scripts/lz-string-1.3.3.js"></script>
    <script type="text/javascript">
        var repeat = 0;
        //jQuery(document).ready(function (jQuery) {
            var idcateg = "";
            //(new HtmlString("idcateg = '" + idcategory + "';"))
            var array = new Array();
            var validateselect = new Array();
            var arrayhead = new Array();
            var numhead = new Array();

            jQuery('#exceldatatable tr').eq(0).each(function () {
                var i = 0;
                var j = 0;
                jQuery(this).find('th').each(function () {

                    if (i > 0) {
                        arrayhead.push(jQuery(this).html());
                        numhead.push(j);
                        j++;
                    }
                    i++;
                });
            });

            jQuery("input[name=selectall]").change(function () {
                jQuery('input[type=checkbox]').each(function () {
                    if (jQuery("input[name=selectall]:checked").length == 1) {
                        this.checked = true;
                    } else {
                        this.checked = false;
                    }
                });
            });

            jQuery("#saveImport").on('click', function () {
                var jsondataobj = new Array();
                var relation = new Array();
                var fd = new FormData();
                if (jQuery('#user1').val() == "no") { _alert("error", "Elija una Opcion para el Campo: ID Usuario"); return false; }
                if (jQuery('#name1').val() == "no") { _alert("error", "Elija una Opcion para el Campo: Nombre"); return false; }
                if (jQuery('#lastname1').val() == "no") { _alert("error", "Elija una Opcion para el Campo: Apellido"); return false; }
                if (jQuery('#password1').val() == "no") { _alert("error", "Elija una Opcion para el Campo: Contraseña"); return false; }
                if (jQuery('#name1').val() != "no"
                    && jQuery('#lastname1').val() != "no"
                    && jQuery('#password1').val() != "no"
                    && jQuery('#user1').val() != "no") {
                    for (var i = 0; i < validateselect.length; i++) {
                        var valuex = jQuery('#' + validateselect[i] + '').val();
                        var nameselectx = jQuery('#' + validateselect[i] + '').data('name');
                        var reqselect = jQuery('#' + validateselect[i] + '').data('required');

                        if (valuex == "no" && reqselect == 1) {
                            _alert("Elija una Opcion para el Campo : " + nameselectx);
                            return false;
                        }
                    }

                    for (var i = 0; i < array.length; i++) {
                        var order = { "namecol": null, "numcol": null };
                        for (var j = 0; j < arrayhead.length; j++) {
                            if (array[i].value == numhead[j]) {
                                order.namecol = array[i].selectname;
                                order.numcol = j;
                                relation.push(order);
                            }
                        }
                    }

                    jQuery('#exceldatatable tr').each(function () {

                        var i = 0;
                        var enter = 0;
                        var profileFieldsarray = new Array();
                        var objectprofile = {};
                        var objects = { "user": null, "name": null,"userKey":null, "lastname": null, "email": null, "pwd": null, "perfil": null,"permissionsHTK":null, "boss": null,"extra_emails":null, "areaSelect": null, "departmentSelect": null, "alias": null, "descripcionpuesto": null, "location": null };
                        var check = 0;
                        if (jQuery(this).find('input[name="selectdate"]').is(':checked')) {
                            check++;

                        }

                        if (check != 0) {
                            var w = 0;
                            jQuery(this).find('td').each(function () {
                                if (w > 0) {
                                    for (var z = 0; z < relation.length; z++) {
                                        if (relation[z].numcol == i) {
                                            if (relation[z].namecol == "name") {
                                                objects.name = jQuery(this).html();
                                            } else if (relation[z].namecol == "lastname") {
                                                objects.lastname = jQuery(this).html();

                                            }else if (relation[z].namecol == "userKey") {
                                                objects.userKey = jQuery(this).html();
                                            }else if (relation[z].namecol == "email") {
                                                objects.email = jQuery(this).html();
                                            } else if (relation[z].namecol == "user") {
                                                objects.user = jQuery(this).html();
                                            } else if (relation[z].namecol == "pwd") {
                                                objects.pwd = jQuery(this).html();
                                            } else if (relation[z].namecol == "perfilId") {
                                                objects.perfil = jQuery(this).html();
                                            } else if (relation[z].namecol == "boss") {
                                                objects.boss = jQuery(this).html();
                                            } else if (relation[z].namecol == "permissionsHTK") {
                                                
                                                objects.permissionsHTK = jQuery(this).html();
                                            } else if (relation[z].namecol == "extra_emails") {
                                                
                                                objects.extra_emails = jQuery(this).html();
                                            } else if (relation[z].namecol == "areaSelect") {
                                                objects.areaSelect = jQuery(this).html();
                                            } else if (relation[z].namecol == "departmentSelect") {
                                                objects.departmentSelect = jQuery(this).html();
                                            } else if (relation[z].namecol == "alias") {
                                                objects.alias = jQuery(this).html();
                                            } else if (relation[z].namecol == "descripcionpuesto") {
                                                objects.descripcionpuesto = jQuery(this).html();
                                            } else if (relation[z].namecol == "location") {
                                                objects.location = jQuery(this).html();
                                            }
                                        }
                                    }
                                    i++;
                                    enter++;
                                }
                                w++;
                            });

                            if (enter > 0) {
                                //objects.profileFields = objectprofile;
                                //objects.parentCategory = idcateg;
                                //objects.ext = "";
                                jsondataobj.push(objects);
                            }
                        }
                        
                    });

                    var jsondata1 = JSON.stringify(jsondataobj);
                    fd.append("data", jsondata1);

                    for (xy = 0; xy < jQuery("#uploadFiles")[0].files.length; xy++) {
                        fd.append(jQuery("#uploadFiles")[0].files[xy].name, jQuery("#uploadFiles")[0].files[xy]);
                        ext = jQuery("#uploadFiles")[0].files[xy].name;
                        ext = ext.split('.').pop(-1);
                        //check ".ext"
                        if (ext != "rar" && ext != "zip") {
                            _alert("error", "Formato de archivo invalido!");
                            return false;
                        }
                        //check only one compresss
                        if (ext == "rar" || ext == "zip") cant++;
                        if (cant > 1) {
                            _alert("error", 'No se permiten más de un archivo! (".rar" o ".zip")');
                            cant = 0;
                            return false;
                        }
                    }

                   jQuery.ajax({
                       url: "/User/User/saveImport",
                       data: fd,
                       type: "POST",
                       contentType: false,
                       processData: false,
                        beforeSend: _loading(),
                        success: function (data) {
                            jQuery('#excelTable').find(".modal-body").html("");
                            jQuery('#excelTable').modal("hide");
                            if (data == null || data == "null") {
                                _alert("error", "Problemas Al importar datos, Verifique el Archivo Fuente");
                                _loading();
                                return null;
                            } else {
                                data = JSON.parse(data);
                                jQuery("#resultImport_panel").modal("show");
                                jQuery("#userSuccess").html(data["userSuccess"]);
                                jQuery("#userError").html(data["userError"]);
                                jQuery("#imgSuccess").html(data["imgSuccess"]);
                                jQuery("#imgError").html(data["imgError"]);
                                jQuery("#locationError").html(data["locationError"]);
                                _alert("success", "Datos Importados Correctamente");
                                jQuery("#boss").html(data["newUsers"]);
                                model.init();
                                _loading();
                                model.restart();
                                return null;
                            }
                        },
                        error: function (errorThrown) {
                            alert("Ocurrio un error, intenta más tarde.");

                            _loading();

                        }
                    });
                } else { alert("Elija Relacion para todos los Campos."); }

            });

            jQuery("#delete_cancel_buttonx").on("click", function () {
                jQuery("#excelTable").modal("hide");
            });

            jQuery('#name1,#userKey1,#lastname1,#email1,#user1,#password1,#perfil1,#permissionsHTK1,#boss1,#extra_emails1,#area1,#departamento1,#alias1,#description1,#location1').on('change', function () {
                var objetdata = { "selectname": null, "option": null, "value": null };
                var value = jQuery(this).val();
                var nameselect = jQuery(this).data('name');
                var htmlselect = jQuery('option:selected', this).html();

                for (var i = 0; i < array.length; i++) {
                    if (array[i].selectname == nameselect) {
                        array.splice(i, 1);
                    }
                }

                objetdata.selectname = nameselect;
                objetdata.option = htmlselect;
                objetdata.value = value;

                if (value != "no") {
                    var exist = 0;
                    for (var i = 0; i < array.length; i++) {
                        if (array[i].value == value) {
                            jQuery(this).val('no');
                            _alert("error","Esta opcion ya ha sido seleccionada")
                            exist++;
                        }
                    }
                    if (exist == 0) { array.push(objetdata); }
                }
            });

            @for (int i = 0; i < idselect; i++)
            {
                @(new HtmlString(" jQuery('#" + i + "').on('change', function () {  validateinput = 0; var objetdata = { 'selectname': null, 'option': null,'value':null }; var value = jQuery('#" + i + "').val();var nameselect = jQuery('#" + i + "').data('name'); var htmlselect = jQuery('#" + i + " option:selected').html();  for (var i = 0; i < array.length; i++){if (array[i].selectname == nameselect){array.splice(i, 1);}} objetdata.selectname = nameselect; objetdata.option =  htmlselect; objetdata.value = value;  if(value!='no'){ var exist =0; for(var i = 0; i < array.length; i++) { if (array[i].value == value){jQuery('#" + i + "').val('no'); alert('Esta opcion ya ha sido seleccionada'); exist++;}} if(exist == 0) { array.push(objetdata); }}});"))
                @(new HtmlString(" validateselect.push(" + i + ");"))
            }
        // });

        //Upload files Imagen -----------------------------
        jQuery(".uploadFile").change(function () {
            cant = 0;
            //idInventory = jQuery(this).closest("tr").data("id");
            var fd = new FormData();
            //fd.append("idInventory", idInventory);

           

            /*_loading();
            jQuery.ajax({
                url: "/Inventory/SceneInventory/saveFiles",
                type: "POST",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                    _loading();
                    jQuery(this).val("");
                    _alert("success", "Subido Correctamente");
                    setReportSQL(idInventory);
                    loadInventory();
                },
                error: function () {
                    _loading();
                    _alert("error", "Ha ocurrido un error");
                }
            });
            jQuery(this).val('');*/
        });

        //--------------------------------------------------


    </script>