@using System;
@using System.Dynamic;
@{

    Layout = null;
}
@{
    string path = "";
   try {
        path =ViewData["url"] as string;
        path = path.Replace(@"\", @"\\");
   }
   catch{ }


   List<ExpandoObject> rows = new List<ExpandoObject>();


   if (ViewData["rows"] as List<ExpandoObject> != null)
   {
        rows = ViewData["rows"] as List<ExpandoObject>;
    }
   int numcols = 20;
     
}
<style>
    #newstable tr > td {
        text-align: center;
    }
</style>
<div id="contentsdf">
    <div class="navbar-inner ">
        <ul class="nav nav-tabs" id="myTab">

            <li class="active" id="tab1"><a href="#newstab" data-toggle="tab">Activos</a></li>




        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active tabfirst perfilMargen" id="newstab">
            <div class=" contentHolder well-content no_padding row-fluid" style="overflow:auto">
                <select id="checkstatus" onchange="filterByCheck()">
                    <option value="">Todos</option>
                    <option value="true">Checks</option>
                    <option value="false">UnCkecks</option>
                </select>
                <br />
                <table id="newstable" class="table table-striped table-hover " style="border-collapse: collapse;max-height:700px">

                    <thead>
                        <tr class="widgetclient" style="color: white;">
                            <th class="table-icon hidden-480"><input type="checkbox" name="selectnews" class="uniform"> </th>
                            <th class="table-fixed-medium">ID Cafi Fijo</th>
                           
                            <th style="width: 2% !important" class="table-fixed-medium">Unidad Explotación</th>
                            <th class="table-fixed-medium">Nombre de Conjunto</th>
                            <th class="table-fixed-medium">Departamento</th>
                            <th class="table-fixed-medium">Ubicacion</th>
                            <th class="table-fixed-medium">ID Articulo</th>
                            <th class="table-fixed-medium">Descripcion Articulo</th>
                            <th class="table-fixed-medium">Marca</th>
                            <th class="table-fixed-medium">Modelo</th>
                            <th class="table-fixed-medium">#Serie</th>
                            <th class="table-fixed-medium">Epc</th>
                            <th class="table-fixed-medium">Estatus</th>
                            <th class="table-fixed-medium">Fecha Etiq.</th>
                            <th class="table-fixed-medium">Usuario Etiq.</th>
                            <th class="table-fixed-medium">Cantidad</th>
                            <th class="table-fixed-medium">ID Paquete</th>
                           <!-- <th class="table-fixed-medium">ID Ubicacion</th>-->
                            <!--<th class="table-fixed-medium">ID Usuario</th>-->
                            <th style="width: 450px !important; min-width: 450px !important; " class="table-fixed-medium" style="width: 20% !important">Observaciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{int hnot = 0;}
                        @foreach (ExpandoObject row in rows)
                        {
                            dynamic row1 = new ExpandoObject();
                            row1 = row;

                            <tr class="mailtr" style="@row1.color">
                                <td class="table-icon hidden-480">
                                    <input type="checkbox" class="selectact" value="@hnot" @row1.check>
                                </td>
                                <td class="table-fixed-medium">@row1.id_cafi</td>
                                
                                <td  class="table-fixed-medium">@row1.af_unidad_explotacion</td>
                                <td class="table-fixed-medium">@row1.af_nombre_conjunto</td>
                                <td class="table-fixed-medium">@row1.af_departamento</td>
                                <td class="table-fixed-medium">@row1.af_ubicacion</td>
                                <td class="table-fixed-medium">@row1.af_id_articulo</td>
                                <td class="table-fixed-medium">@(new HtmlString(row1.af_desc_articulo))</td>
                                <td class="table-fixed-medium">@(new HtmlString(row1.af_marca))</td>
                                <td class="table-fixed-medium">@(new HtmlString(row1.af_modelo))</td>
                                <td class="table-fixed-medium">@(new HtmlString(row1.af_num_serie))</td>
                                <td class="table-fixed-medium">@row1.af_epc_completo</td>
                                <td class="table-fixed-medium">@row1.af_status_etiquetado</td>
                                <td class="table-fixed-medium">@row1.af_fecha_etiquetado</td>
                                <td class="table-fixed-medium">@row1.af_usuario_etiquetado</td>
                                <td class="table-fixed-medium">@row1.af_cantidad</td>
                                <td class="table-fixed-medium">@row1.af_id_paquete</td>
                                <!-- <td class="table-fixed-medium">@@row1.ub_id_ubicacion</td>-->
                                @*<td class="table-fixed-medium">@row1.id_usuario</td>*@
                                <td style="width: 450px !important; min-width: 450px !important; " class="table-fixed-medium">@row1.analisis</td>



                            </tr>
                            hnot++;

                        }

                    </tbody>

                </table>
                @if (rows.Count() == 0)
                {
                    <br /><br /><br />
                    <center><h4>Tabla Sin Registros ..</h4></center>
                }


            </div>


        </div>


    </div>
    @if (rows.Count() != 0)
    {

        <div class="float_right">
            <br />
            <button class="btn blue topbarclient" id="createObj" data-original-title="Crear Activos(omite los Duplicados)" rel="tooltip" data-placement="top">
                <i class="icon-spinner icon-white"></i>
                <span>Crear Activos...</span>

            </button>
            <button class="btn blue red" id="cancelbtn">
                <i class="icon-warning-sign icon-white"></i>
                <span>Cancelar...</span>

            </button>
        </div>
    }
</div>
<script>
    function bindFilters() {
             
        jQuery('.dataTables_filter input,.filter_column input').off('.DT')
        .on('keyup.DT cut.DT paste.DT input.DT search.DT', function (e) {
            debugger
            RegExp.quote = function (str) {
                return (str + '').replace(/[.?*+^$[\]\\(){}|-]/g, "\\$&");
            };
            var term = jQuery.trim(this.value);
            if (term !== "") {
                //var termRegExp = new RegExp('^' + jQuery.fn.dataTable.util.escapeRegex(term) + '$', 'i');
                // var termRegExp = new RegExp('^' + RegExp.quote(term) + '$', 'i');
                var termRegExp = new RegExp('^' + RegExp.quote(term) + '$', 'i');
                jQuery.fn.dataTableExt.afnFiltering.push(
                   function (settings, data, dataIndex) {
                       var isFound = false;
                       jQuery.each(data, function (index, value) {
                           if (termRegExp.test(value)) { isFound = true; }
                           return !isFound;
                       });
                       return isFound;
                   }
                );
            }
            var table = jQuery(this).closest(".dataTables_wrapper").find("table").last().dataTable()
            table.fnDraw();

            if (term !== "") {
                jQuery.fn.dataTableExt.afnFiltering.pop();
            }
        });

    }
    function headers1() {
        setTimeout(function () {
            debugger;
            var table = jQuery("#newstable").dataTable();

            table.fnAdjustColumnSizing();
            if (table.find("thead tr").length>1)
                table.find("thead tr").last().remove();
            if (jQuery(".dataTables_scrollHead thead tr").length > 1)
                jQuery(".dataTables_scrollHead thead tr").last().remove();
            table.columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [null,
          @for(int i=2;i<numcols;i++)
            {
           @(new HtmlString(" { type: 'text' }, "))

            }
            { type: "text" }
        ]
                    });
        jQuery('#newstable input').css("width", "100%")
            var head = jQuery("#newstable").find("thead tr").last();
        jQuery(".dataTables_scrollHead tr").after(head)
        jQuery(".dataTables_scrollHead input").css("width", "100%")
        jQuery(".dataTables_scrollHead tr:last th").css("padding", "10px")
        trs = table.fnGetNodes()
        jQuery(trs).find("input").each(function () {
            jQuery(this).attr("style", "")

        })
        setInterval(function () {
            try {
                jQuery(".dataTables_scrollHead table thead th:eq(0) input").attr("style", "")
            } catch (ex) {

            }
        }, 100)
        jQuery(".dataTables_scrollHeadInner table thead tr:last() th").on("keyup.filter", function () {
            debugger
            jQuery(".dataTables_scrollHeadInner table thead tr:last() th:eq(" + jQuery(this).index() + ")").trigger("focus")
            jQuery(".dataTables_scrollHeadInner table thead tr:last() th:eq(" + jQuery(this).index() + ") input").trigger("focus")
        })
    }, 200);
    }
    var list = {};
    jQuery(function () {
        jQuery('#myTab a:first').tab('show')
    });
    jQuery('.overOn').perfectScrollbar({ wheelSpeed: 1000 });
    try {
        debugger;
        var th = jQuery('#newstable thead tr').clone()
       // jQuery('#newstable thead').append(th)
        jQuery('#newstable').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": "<'tableHeader'<l><'clearfix'f>r>t<'tableFooter'<i><'clearfix'p>>",
            "iDisplayLength": 10,
            "sScrollY": "700px",
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [-1, 0]
            }], "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                "sSearch": "Buscar"
            }
        }).columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [null,
            @for(int i=2;i<numcols;i++)
                {
               @(new HtmlString(" { type: 'text' }, "))

                }
                { type: "text" }
                ]
        });;
        //$('#newstable input').css("width", "100%")
        //headers1();

        setTimeout(function () {
           
            var table = jQuery('#newstable').dataTable();
            table.fnDraw()
            headers1();
            jQuery(".dataTables_scrollHeadInner table thead tr:first() th:eq(1)").trigger("click")
            
        }, 200);
      /*  setTimeout(function () {
            jQuery("#newstable").removeClass("dataTable");
            var table = jQuery("#newstable").dataTable();
            //table.fnAdjustColumnSizing();
        }, 500);*/
    } catch (exception) {

    }
   
    jQuery(".tableHeader").css("padding-right", "10px");
    jQuery(".tableHeader").css("padding-bottom", "20px");

    try {
        jQuery("#cancelbtn").click(function () {

            window.location.reload();
        });
        jQuery("#createObj").click(function () {
            var path = "@path";
            var listselect = [];
            var table = jQuery("#newstable").dataTable();
            var trs = table._fnGetTrNodes();
            jQuery(trs).find(":checked").each(function () {

                id = this.value;
                listselect.push(id);
            });
            if (listselect.length > 0) {

                jQuery.ajax({

                url: "/Tags/Tags/generateObjs2",
                // data: { maildata : jsonmail},
               
                data: { url: path, selects: JSON.stringify(listselect) },
               
                type: "POST",
                beforeSend: _loading(),

                success: function (data) {

                    if(data==null){
                        _alert("error","Ocurrio un error,suba de nuevo el archivo e intente de nuevo");
                    
                    }else{


                        _alert("success", "Activos Creados Con Exito!!!")
                        jQuery('#contentsdf').html("");
                        jQuery('#contentsdf').html(data);
                        
                       
                    }
                    _loading();
                   

                },
                error: function (errorThrown) {
                    alert("Ocurrio un error,intentelo mas tarde");
                    _loading();
                }
            });
            
        }else{
                alert("Seleccione Un Activo");
             }

        });
    } catch (ex) { }
    jQuery("[name=selectnews]").unbind("change.news");
    jQuery("[name=selectnews]").bind("change.news", function () {
        var table = jQuery("#newstable").dataTable();
        var trs = table._fnGetTrNodes();
       
        if (jQuery(this).is(":checked")) {
            jQuery(trs).find(":checkbox").prop("checked", true)
          } else {

            jQuery(trs).find(":checkbox").prop("checked", false)
          }

    });
    var trs = null;
   jQuery.fn.dataTableExt.afnFiltering.push(
      function (settings, data, dataIndex) {

           debugger;
           //data[0] es el primer td del tr
           if (trs == null)
               return true;
          try{
              var tr = trs[dataIndex]
              var status = jQuery("#checkstatus").val();
              var checked = jQuery(tr).find(":checkbox").is(":checked")
              if (checked.toString().toLowerCase() == status.toString().toLowerCase() || status == "") {
                  return true;
              }
              return false;
          } catch (ex) {
              return true;
          }
       }
    );

    //la funcion anterior se ejecuta al redibujar la tabla
    function filterByCheck() {
        var table = jQuery("#newstable").dataTable();
        trs = table.fnGetNodes();
        table.fnDraw();
    }

    setTimeout(function () {
        bindFilters();
    },1000)
    jQuery(document).ready(function () {

       

    })
</script>